@media screen and (min-width: 641px){

    nav ul li {
            display: inline-block;/*this lists items horozintally*/
               border-radius: 1em;

    }

    .desktop {
        display: none;
    }

    nav ul li {
        padding: 0.7em;
        border-top: solid 0.2em black;
        border-bottom: solid 0.2em black;
        display: inline-block; /*this lists items horozintally*/
        border-radius: 1em; 
        min-width: 10%;
        box-shadow: 0.5em 0.5em 0.5em black; 
        
    }

figure{
    box-shadow: 0.5em 0.5em 0.5em black; 
}

main {box-shadow: 0.5em 0.5em 0.5em black; }
 
    main div .center {
        width: 60%;
        border-right: 0.3em solid black;
    }

    footer {
        box-shadow: 0.5em 0.5em, 0.5em black;
    }
    
}


