body{
    background-color: black;
    color: white;
}

header {
    text-align: right;
}

#eden-image{
    width:auto;
    height: auto;
    text-align: right;

}

.nav-items {
    background-color: black;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav-items li {
    display: inline-block;
}

.nav-items a {
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.nav-items a:hover {
    background-color: black;
    color: red;
}

.nav-item a.active {
    background-color: blue;
    color: yellow;
}

