body{
    background-color: black;
    color: white;
    
}

.nav-items{
    background-color: black;
    overflow:hidden;
}

.nav-items li{
    color: white;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.nav-items:hover {
    background-color: red;
    color: black;
}